
h1{
  font-weight: bold;
}
h3{
  font-weight: bold;
  font-family: 'Vidaloka', serif;
}
p{
  font-family: 'Source Serif Pro', serif;
}
.logo{
  min-height: 30px
  }

.big-image{
  height: 100%;
  overflow: hidden;

}

.navigation{
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}
.navigation li{
  display: inline-block;
  padding: 20px;
  font-size: 12px;

}


/*-------------Who We Are ---------------*/
.who-we-are-copy{
  padding-top: 20px;
  font-family: 'Vidaloka', serif;
}
.who-we-are-image{
  text-align: left;
  /*font-family: 'Source Serif Pro', serif;
  color: white;
  /*height: 100%;*/
  /*position: relative;*/
  /*background-image: url(../image/kapahu-valentine-full.jpg);*/
  /*height: 100%;*/
 /*min-height: 498px;*/

}
@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}
/*--------------------Menu-----------------*/
.menu-copy{
  padding-top: 20px;
  text-align: center;
  font-family: font-family: 'Vidaloka', serif;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
